# Ignore bundler config.
/.bundle

# Ignore all environment files.
/.env*
!/.env*.erb

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore storage (uploaded files in development and any SQLite databases).
/storage/*
!/storage/.keep

/public/assets

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore node_modules
/node_modules

# Ignore build artifacts
/app/assets/builds/*
!/app/assets/builds/.keep

# Ignore bootsnap cache
/tmp/cache/bootsnap

# Ignore SQLite databases
*.sqlite3
*.sqlite3-journal
*.sqlite3-shm
*.sqlite3-wal
